<%= form_for @post,
            :remote => true do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content, :id => 'txt' %>
  </div>
  <div id="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

